.container {
    width: 80vw;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.title {
    padding: 0;
    margin: 0 ;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
    color: var(--color-text);
}

.wrapperTitle {
    padding: 0;
    margin: 0 auto 80px ;
    position: relative;
    display: inline-block;
}

.bigText {
    padding: 0;
    margin: 0 ;
    color:var(--title-color);
    /*font-size: 12rem;*/
    font-size: clamp(6rem, 20vw, 12rem);
    font-style: italic;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.smallText {
    padding: 0;
    margin: 0 ;
    font-family: var(--font-imperial),sans-serif;
    position: absolute;
    top: 75%;
    right:10%;
    transform: translateY(-50%);
    /*font-size: 16rem;*/
    font-size: clamp(10rem, 20vw, 16rem);
    font-weight: 500;
    z-index: 2;
    color: var(--title-primary-color);
    letter-spacing: 10px;
}

.selectCurrency {
    width: 70%;
    color: var(--color-text);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 100px;
}
.label {
    width: 25%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--color-text);
    text-align: left;
}
.select {
  color: var(--color-bg-dark);
     padding: 2px;
    width: 80px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-text);
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
}
.select option {
    outline: none;
    background: var(--title-color);
    color: var(--color-badgeId);
    border: none;
}

.mainLayout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.mapSide {
    border-radius: 2rem;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    /*height: 700px;*/
   height: clamp(300px, 45vw, 700px);
    /*flex: 2;*/
    width: 70%;
    border: 1px solid var(--color-noposter);
     box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.billSide {
    width: 50%;
    min-width: 400px;
    background: var(--menu-color);
    border: 1px solid var(--color-noposter);
    border-radius: 24px;
    padding: 35px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;

}

.summaryTable {
    flex: 1;
}

.groupTitle {
    color: var(--logo-hover-color);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}


.list li span {
    display: block;
    font-size: 11px;
    color: #666;
    margin-top: 2px;
}

.subTotal {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--logo-hover-color);
    margin: 15px auto;
    padding-bottom: 15px;
   border-bottom: 1px solid var(--color-noposter);
}

.subTotal b {
    color:  var(--logo-hover-color);
}


.billRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    color: var(--color-white);
}
.billRowTransfers {
     display: flex;
    align-items: center;
    justify-content: space-between;
    color:  var(--logo-hover-color);
}

.totalRow {
    margin: 30px auto;
    padding-top: 25px;
    border-top: 1px solid var(--logo-hover-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalRow span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
}

.totalPrice {
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--color-noposter);
    text-shadow: 0 0 15px rgba(212, 175, 55, 0.3);
}

.confirmBtn {
    background: linear-gradient(135deg, #d4af37 0%, #b8860b 100%);
    color: black;
    border: none;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.confirmBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(212, 175, 55, 0.2);
}


.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.billTitle {
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--logo-hover-color);
    padding-bottom: 15px;
    color:var(--logo-hover-color);
}
.billRowSmall,
.listItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--color-white);
}
.billRowSmall p,
.listItem p{
text-align:left ;
}

.actions {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 2rem;
}
.cancelBtn,
.buttonNext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    border-radius: 1.5rem;
    color: #30240b;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(255,255,255,0.5);
}
.cancelBtn:hover,
.buttonNext:hover {
   background: linear-gradient(90deg, white, #30240b, white);
    color: white;
}
.buttonNext {
     padding: 0.5rem 8rem;
    background: linear-gradient(90deg, #30240b, white, #30240b);
}
.cancelBtn{
    padding: 0.5rem 0;
    width: 150px;
    background-color: #bf8282;
}
.loaderWrapper {
    box-sizing: border-box;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    transform: scale(0.2);
}
.cancelBtn:disabled,
.confirmBtn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 70px auto;
}
.errorMessage {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: var(--logo-hover-color);
    font-size: 0.8rem;
}