.socialButtons {
    width: 300px;
  display: flex;
    justify-content: space-between;
}

.socialButton {
    outline: none;
    border: 1px solid var(--color-white);
     display: flex;
  align-items: center;
  justify-content: center;
    color: white;
  cursor: pointer;
  font-size: 0.6rem;
  width: 47%;
    height: 40px;
     border-radius: 1.5rem;
    background: linear-gradient(90deg, white, #30240b 50%);
}
.socialButton:hover {
  background: linear-gradient(
    90deg,
    #7a5c1e,
    #d4af37,
    #f5e6a1,
    #d4af37,
    #7a5c1e
  );
    color: #30240b;

}

.socialButton img {
  margin-right: 5px;
    width: 16px;
    height: 16px;
}
.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(0.2);
}
.socialButtonItem{
    display: flex;
    justify-content: center;
    align-items: center;
}