.container {
    max-width: 70vw;
    margin: 5rem auto;
    background:transparent;
    color: var(--color-white);
    border-radius: 1.25rem;
    padding: 2rem;
    overflow: hidden;
    box-shadow: 0 0.625rem 1.25rem rgba(191, 219, 254, 0.5);
    transition: transform 0.5s;
}
.container:hover {
    transform: scale(1.01);
}
.tagline {
    margin: 1rem 0;
  height: 1px;
  background-color: var(--color-text);
  transform: scaleY(0.5);
  transform-origin: top;
  width: 100%;
}
.seler {
    display: flex;
    justify-content: space-between;
}
.seler p{
    margin: 0;
    padding: 0;
}
.flexRowResponsive {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.posterImage,
.noPoster,
.venuePoster,
.placeholder{
    width: 95%;
    padding: 1rem;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
    object-position: center;
}

.top{
    display: flex;
    justify-content: space-between;
    color: var(--color-badgeId);

}

.noPoster {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-badgeId);
    font-size: 1rem;
}
.spanYear{
    font-style: italic;
    color: var(--color-white);
    font-size: 1rem;
}

.img {
    width: 24px;
    height: 24px;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imgAbout{
    font-size: 0.5rem;
     margin: 0;

}
.imgText{
    color: var(--color-text);
     margin: 0;
    padding: 0;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 1rem;
     margin: 0;
    padding: 0;

}

.aboutVenue {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.content {
    padding: 1rem;
    width:95%;
    border-radius: 1.25rem;
}

.title {
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.5rem;
margin: 0;
    padding: 0;
}

.details p {
    margin: 0.25rem 0;
}

.value {
    margin: 0;
    padding: 0;
    color: #555;
}

.singleGalleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
    width: 100%;
}

.singleThumbnail {
  width: 80%;
    max-width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.arrow {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-text);
  transition: 0.2s;
}


.arrow:disabled {
  color: var(--color-border);
  cursor: default;
}

@media (min-width: 768px) {

    .content {
        width: calc(65vw - 3rem);
        border-radius: 2rem;
    }

    .title {
        font-size: 1.75rem;
    }
}
@media (min-width: 1200px) {
    .flexRowResponsive  {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
        .posterImage,
    .noPoster,
    .venuePoster {
        width: 35vw;
        height: auto;
        border-radius: 2rem;
        flex-shrink: 0;
    }
}