# ===== Python =====
.venv/
venv/
#env/
__pycache__/
*.py[cod]

# ===== IDE =====
.idea/
.vscode/

# ===== Environment =====
.env
.env.*
!.env.example

# ===== Logs / cache =====
*.log
.pytest_cache/
.mypy_cache/

# ===== MySQL / Docker =====
mysql/
docker-compose.override.yml

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Node / Next.js =====
node_modules/
.next/
out/
dist/
build/
next-client/.env.local