.container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: 50vw;
    height: 70vh;
    background: var(--reverse-menu-color);
    overflow: hidden;
    position: relative;
    border-radius: 1.5rem;
}
