
.user{
    color: var(--color-border);
}
.venueRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    border: 1px solid rgba(212, 175, 55, 0.15);
    position: relative;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.15),
        0 0 40px rgba(255, 200, 0, 0.08);
    animation: float 6s ease-in-out infinite;
    overflow: hidden;
}

.venueRow::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 2rem;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}
.venueRow::after {
    content: "";
    position: absolute;
    inset: -20px;
    border-radius: 2rem;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    filter: blur(40px);
    opacity: 0.1;
    z-index: -1;
    animation: glowMove 6s linear infinite;
}

@keyframes glowMove {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.table {
    margin: 0 auto;
    font-size: 0.4rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}


.errorText {
    margin-top: 80px;
    text-align: center;
    font-size: 2rem;
    color: var(--input-color);
}