.user{
    color: var(--color-border);
}
.venueRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}
.title {
    padding: 0;
    margin: 0 ;
    font-family: var(--font-imperial),serif;
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--color-text);
}
.titleNo {
    padding: 0;
    font-family: var(--font-imperial),serif;
    letter-spacing: 2px;
    color: var(--color-text);
    margin-top: 80px;
    font-size: 2rem;
}
.table {
    margin: 0 auto;
    font-size: 0.4rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.errorText {
    margin-top: 80px;
    text-align: center;
    font-size: 2rem;
    color: var(--input-color);
}