
.form {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;

}


.inputWrapper {
   width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.subtitle {
    text-align: left;
    margin: 6px;
    width: 100%;
    font-family: var(--font-imperial),serif;
    color: var(--color-text);
    font-size: 2rem;
}

.label {
    font-size: 0.95rem;
    color: var(--label-color);
    text-align: left;
    padding-left: 0.5rem;

}
.inputCreate {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--input-color);
    border: 1px solid var(--color-white);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}
.inputCreate:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.error {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #7a5c1e, #d4af37, #f5e6a1, #d4af37, #7a5c1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 0.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.submitButton:focus {
    background: var(--color-text);
    color:  var(--color-white);
}

.submitButton {
    padding: 0;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 12px white;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    transition: background 0.2s;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    color:  var(--color-text-muted);
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
   background-color:  var(--color-text-muted);
    color:  var(--color-badgeId);
}

.loaderWrapper {
    box-sizing: border-box;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
     line-height: 1.2;
    transform: scale(0.2);
}