
.photoArray {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loaderWrapper {
    box-sizing: border-box;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
     line-height: 1.2;
    transform: scale(0.4);
}
.photoImage{
    width: 140px;
    height: 100px;
    box-shadow: 0 0 12px white;
  border-radius: 6px;
  object-fit: cover;
}