.venuesListContainer {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
    padding-inline-start:0;
}
.link{
    cursor: pointer;
    text-decoration: none;
    color: var(--color-container);
}
.list {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    list-style: none;
    padding: 0;
}

.noResults{
    text-align: center;
    color: var(--color-text);
    padding-top: 3rem;
    font-size: 3rem;
}
.item {
    position: relative;
}
.titleGuest {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}
.loginLink {
      color: var(--input-color);
}
.heartBtn {
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: none;
}

@media (min-width: 768px) {
    .venuesListContainer {
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .venuesListContainer {
        width: 100%;
    }
}

@media (min-width: 1536px) {
    .venuesListContainer {
        gap: 48px;
        width: 90%;
        max-width: 1536px;
    }
}