.title {
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 1.25;
    color: var(--color-text);
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
.loaderWrapper{
    margin: 40px auto;
}
.titleLog {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}

@keyframes slideDown {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
