.wrapper {
    width: 60vw;
    margin: 0 auto 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.columnsLayout {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.list {
    text-align: center;
    margin: 0 auto;
    height: auto;
    min-height: 40vh;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dragPoolMessage {
    color: var(--logo-hover-color);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-imperial),serif;
}

.title {
    text-align: center;
    width: clamp(200px, 100%, 300px);
    height: 46px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: var(--menu-color);
    border-radius: 20px;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto 10px;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    font-weight: 600;
    cursor: pointer;
    color: var(--logo-hover-color);

}

.title:hover {
  color: var(--color-bg-dark);
}
