
.tableWrapper {
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.headerInfo {
     margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.title {
    padding: 0;
    margin: 0 ;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 2px;
    color: var(--color-text);
}

.wrapperTitle {
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline-block;
}

.bigText {
    padding: 0;
    margin: 0 ;
    font-family: Sans,sans-serif;
    color:var(--title-color);
    font-size: 14rem;
    font-style: italic;
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-shadow:
    2px 2px 0 #000,
    4px 4px 6px rgba(0,0,0,0.5);
}

.smallText {
    font-family: var(--font-imperial),sans-serif;
    position: absolute;
    top: 70%;
    right:-30%;
    transform: translateY(-50%);
    font-size: 14rem;
    font-weight: 500;
    z-index: 2;
    color: var(--title-primary-color);
    letter-spacing: 10px;
    padding: 0;
    margin: 0 ;
}
.orderSeats,
.orderHint {
    font-family: var(--font-imperial),serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
}
.orderSeats {
       font-weight: 700;
 }
.calendarWrapper {
    width: 330px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    position: relative;
    gap: 0.5rem;
    flex-direction: column;
}
.label {
    padding: 0 0 0.5rem 1rem;
    margin: 0;
    font-family: var(--font-imperial),serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--color-text);
    text-align: left;
    width: 100%;
  justify-content: flex-start;
}
.closeCal {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    outline: none;
    width: 70px;
    height: 36px;
    padding: 0.5rem 1rem;
    color: #30240b;
    background: linear-gradient(90deg, #30240b, white, #30240b);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(255,255,255,0.5);

}
.closeCal:hover {
    background: linear-gradient(90deg, white, #30240b, white);
    color: white;
}
.inputGroupTime,
.inputGroup {
    position: relative;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.inputGroupTime {
    flex-direction: column;
    width: 40%;
}
.timePickerRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.input {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 1.5rem;
    color: var(--input-color);
    border: 1px solid var(--input-color);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    justify-content: flex-start;
    height: 40px;
    font-size: 0.9rem;
}

.input:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.stageWrapper {
    margin: 0 auto;
    padding: 0;
}

.stage {
  border: 3px solid var(--color-text);
  border-radius: 50px;
  max-width: 100%;
  overflow: hidden;
}
.capacity {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.seatsOk,
.seatsWarning {
     margin: 0;
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}
.seatsWarning {
    color: #bf8282;
}
.seatsOk {
  color: var(--color-text);
}

.actions {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.buttonPrev,
.buttonNext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: #30240b;
    background: linear-gradient(90deg, #30240b, white, #30240b);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(255,255,255,0.5);
}
.buttonPrev:hover,
.buttonNext:hover {
   background: linear-gradient(90deg, white, #30240b, white);
    color: white;
}
.buttonNext {
    border-radius: 0 1.5rem 1.5rem 0;
}
.buttonPrev {
    border-radius: 1.5rem 0 0 1.5rem;
}
.loaderWrapper {
    box-sizing: border-box;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    transform: scale(0.2);
}
.buttonPrev:disabled,
.buttonNext:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.titleLog {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}