.wrapper {
    margin: 5px auto;
    padding: 40px 20px;
    width: 90vw;
}
.mainContent {
    text-align: center;
    margin: 0 auto;
}
.tabNavigation {
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: -10px;
}

.navButton {
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    border-radius: 40px;
    border: 1px solid var(--color-noposter);
    font-size: clamp(8px, 2vw, 12px);
    cursor: pointer;
    background:var(--menu-color);
    color: var(--logo-hover-color);
    transition: background-color 0.2s, color 0.2s;
}

.navButton:first-child {
    margin-left: 0;
}

.activeTab {
    background: var(--reverse-menu-color);
    color: var(--title-color);
}


.actionsProfile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.outline,
.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    border-radius: 1.5rem;
    outline: none;
    border: 1px solid var(--color-text);
}
.outline {
    color: var(--title-color);
    background: var(--reverse-menu-color);
}

.outline:hover {
    background: transparent;
    color: var(--color-text);
}
.primary {
    color: var(--color-text);
    background: var(--menu-color);
}
.primary:hover {
    color: var(--color-text);
    background: var(--reverse-menu-color);
}


.subtitle {
    margin: 2rem auto;
    padding: 0;
    width: 100%;
    text-align: left;
    font-family: var(--font-imperial),serif;
    font-size: 3rem;
    font-weight: 600;
    color: var(--color-text);
}
.venueRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    border: 1px solid rgba(212, 175, 55, 0.15);
    position: relative;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
        0 0 20px rgba(255, 215, 0, 0.15),
        0 0 40px rgba(255, 200, 0, 0.08);
    animation: float 6s ease-in-out infinite;
    overflow: hidden;
}

.venueRow::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 2rem;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}
.venueRow::after {
    content: "";
    position: absolute;
    inset: -20px;
    border-radius: 2rem;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    filter: blur(40px);
    opacity: 0.1;
    z-index: -1;
    animation: glowMove 6s linear infinite;
}

@keyframes glowMove {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table {
    margin: 0 auto;
    font-size: 0.4rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.errorText {
    margin-top: 80px;
    text-align: center;
    font-size: 2rem;
    color: var(--input-color);
}
.errorTitle {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}

.loaderWrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

}
.titleNo,
.titleLog {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}

.titleManage {
    padding: 0;
    font-family: var(--font-imperial),serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
    color: var(--color-text);
    line-height: 1;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}


@media (min-width: 768px) {
    .table {
        font-size: 0.75rem;
    }
    .tabNavigation {
        gap: -20px;
    }
    .navButton {
        margin-left: -40px;
    }
    .actionsProfile {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    .table {
        font-size: 0.9rem;
    }
}