
.tableRowTitle{
    font-size: 1rem;
}
.photo {
    width: 200px;
    height: 160px;
    border-radius: 1rem;
}
.statusActive {
    color: var(--color-container);
}

.statusInactive {
    color: var(--color-border);
}


.actions {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 0.2rem;
    flex-wrap: wrap;

}

.button,
.buttonLink,
.editButton,
.deleteButton {
      flex-direction: column;
    align-items: center;
    color: var(--color-white);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.4rem;
    font-weight: 500;
    transition: all 0.2s ease;
    width: 70px;
    height: 30px;
    background-color: var(--color-container);
}

.button:hover,
.editButton:hover,
.buttonLink:hover {
    background-color: var(--color-text);
}

.editButton {
    background-color: var(--color-bg-dark);
}

.deleteButton {
    background-color:var(--color-border);
}

.deleteButton:hover {
    background-color: #a94444;
}
.buttonLink {
    display: flex;
   justify-content: center;
    align-items: center;
}
.venuePoster{
    width: 200px;
    height: 120px;
    border-radius: 1rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    .button,
    .buttonLink,
    .editButton,
    .deleteButton {
        width: 80px;
        font-size: 0.75rem;
    }

    .actions {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .button,
     .buttonLink,
    .editButton,
    .deleteButton {
        width: 90px;
        font-size: 0.8rem;
    }
}