/* ===== Cards Section ===== */
.wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 40px 1vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
    margin-top: 212vh;

}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

.card {
  position: relative;
  aspect-ratio: 3 / 4;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  background: #000;

  animation: float 3s ease-in-out infinite;
  z-index: 1;  /* щоб не лізли на Hero */
}


.videoSoundToggle {
  position: absolute;
  bottom: 32px;
  right: 32px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 999px;
  cursor: pointer;
  backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}