
.contentGallery {
    width: 360px;
    margin-bottom: 8rem;
}

.singleGalleryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
    width: 100%;
}

.singleThumbnail {
  width: 300px;
  height: 200px;
  object-fit: cover;
    object-position: center center;
  border-radius: 6px;
}

.arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--logo-hover-color);
  transition: 0.2s;
}
.arrow:disabled {
    opacity:0;
}