/*.wrapper{*/
/*    margin: 60px auto;*/
/*  width: 50%;*/
/*  display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 0.5rem;*/
/*    gap: 1.5rem;*/
/*      color: var(--input-color);*/
/*    backdrop-filter: blur(20px);*/
/*    -webkit-backdrop-filter: blur(20px);*/
/*  animation: float 6s ease-in-out infinite;*/
/*    overflow: hidden;*/
/*     background: rgba(255, 255, 255, 0.2);*/
/*  border: 1px solid rgba(255, 255, 255, 0.25);*/
/*  border-radius: 2rem;*/
/*  box-shadow:*/
/*    0 8px 32px rgba(0, 0, 0, 0.3);*/
/*}*/

/*@keyframes float {*/
/*    0% { transform: translateY(0); }*/
/*    50% { transform: translateY(-10px); }*/
/*    100% { transform: translateY(0); }*/
/*}*/

.form {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;

}


.inputWrapper {
   width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.subtitle {
    text-align: left;
    margin: 6px;
    width: 100%;
    font-family: var(--font-imperial),serif;
    color: var(--color-text);
    font-size: 2rem;
}

.label {
    font-size: 0.95rem;
    color: var(--label-color);
    text-align: left;
    padding-left: 0.5rem;

}
.inputCreate {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--input-color);
    border: 1px solid var(--color-white);
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
}
.inputCreate:focus {
    background-color: rgba(255, 255, 255, 0.3);
}
.error {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #7a5c1e, #d4af37, #f5e6a1, #d4af37, #7a5c1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 0.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.submitButton:focus {
    background: var(--color-text);
    color:  var(--color-white);
}

.submitButton {
    padding: 0;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 0 0 12px white;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    transition: background 0.2s;
    background: linear-gradient(
        90deg,
        #f9f295,
        #ae8625,
        #faf398,
        #b88a44
    );
    color:  var(--color-text-muted);
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
   background-color:  var(--color-text-muted);
    color:  var(--color-badgeId);
}

.loaderWrapper {
    box-sizing: border-box;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
     line-height: 1.2;
    transform: scale(0.2);
}
/*.select{*/
/*  padding: 2px;*/
/*  border: 1px solid var(--color-white);*/
/*  font-size: 0.7rem;*/
/*    border-radius: 2rem;*/
/*    cursor: pointer;*/
/*    color: var(--input-color);*/
/*}*/
/*.inputSection {*!*/
/*    margin-bottom: 1.5rem;*/
/*    display: flex;*/
/*}*/

/*.topSection{*/
/*    width: 90%;*/
/*    gap: 40px;*/
/*    justify-content: space-between;*/
/*    display: flex;*/
/*       flex-direction: column;*/

/*}*/

/*.textarea{*/
/*    min-height: 100px;*/
/*    width: 100%;*/
/*    padding: 16px;*/
/*    border-radius: 2rem;*/
/*    color: var(--input-color);*/
/*    border: 1px solid var(--color-white);*/
/*    outline: none;*/
/*    background-color: transparent;*/
/*    box-sizing: border-box;*/
/*    font-size: 1rem;*/
/*    cursor: pointer;*/
/*}*/
/*.textarea:focus {*/
/*    background-color: rgba(255, 255, 255, 0.3);*/
/*}*/

/*



/*.deleteButton {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*    margin: 1.5rem auto;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 0.6rem;*/
/*    color:var(--color-white);*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border: none;*/
/*    transition: all 0.3s ease-in-out;*/
/*      background-color: var(--color-container);*/
/*     box-shadow: 0 0 12px white;*/
/*}*/
/*.deleteButton:hover,*/
/*.submitButton:hover,*/

/*.photoWrapper {*/
/*    margin: 1.5rem auto;*/
/*    width: 90%;*/
/*    display: flex;*/
/*    gap: 1.5rem;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*}*/
/*.photoLabel{*/
/*    cursor: pointer;*/
/*       padding: 0.4rem;*/
/*    width: 200px;*/
/*}*/

/*.photoImage{*/
/*    border-radius: 1rem;*/
/*    width: 140px;*/
/*    height: 100px;*/
/*    box-shadow: 0 0 12px white;*/
/*}*/
/*.coordinatesWrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*    gap: 1rem;*/
/*}*/
/*.leftSideWrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*      gap: 1.5rem;*/
/*}*/

/*.mapWrapper {*/
/*  width: 100%;*/
/*  height: 320px;*/
/*  border-radius: 12px;*/
/*  overflow: hidden;*/
/*  background: #f3f3f3;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.mapPlaceholder {*/
/*  color: #777;*/
/*  font-size: 14px;*/
/*  text-align: center;*/
/*  padding: 20px;*/
/*}*/
/*.inputFile {*/
/*    padding: 8px 10px;*/
/*  font-size: 16px;*/
/*}*/

/*.inputFile::file-selector-button {*/
/*     font-family: var(--font-playfair), serif;*/
/*  font-weight: 600;*/
/*  font-style: italic;*/
/*    margin-right: 20px;*/
/*    width: 160px;*/
/*    height: 36px;*/
/*    border-radius: 2rem;*/
/*    border: none;*/
/*    background: linear-gradient(*/
/*        90deg,*/
/*        #f9f295,*/
/*        #ae8625,*/
/*        #faf398,*/
/*        #b88a44*/
/*    );*/
/*    color: var(--color-text-muted);*/
/*    cursor: pointer;*/
/*    box-shadow: 0 0 12px white;*/
/*    transition: transform 0.2s, background 0.3s;*/
/*}*/

/*.inputFile::file-selector-button:hover {*/
/*    background:var(--color-text-muted);*/
/*    color: var(--color-badgeId);*/
/*}*/

/*.photoContainer {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  gap: 10px;*/
/*    width: 100%;*/
/*  margin-top: 10px;*/
/*    justify-content: space-between;*/

/*}*/

/*.photoArray {*/
/*display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.loaderWrapper {*/
/*    box-sizing: border-box;*/
/*    height: 45px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*     line-height: 1.2;*/
/*    transform: scale(0.2);*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .wrapper {*/
/*        max-width: 800px;*/
/*    }*/

/*    .select {*/
/*        padding: 6px;*/
/*        border: 1px solid var(--color-white);*/
/*        font-size: 1rem;*/
/*        border-radius: 2rem;*/
/*        cursor: pointer;*/
/*    }*/
/*.select {*/
/*    padding: 6px;*/
/*    font-size: 1rem;*/
/*}*/
/*    .label,*/
/*    .photoLabel {*/
/*        font-size: 0.95rem;*/
/*    }*/
/*    .topSection {*/
/*        width: 100%;*/
/*        flex-direction: row;*/
/*    }*/
/*    .inputSection {*/
/*        flex-direction: row;*/
/*    }*/
/*}*/
/*.wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 20px;*/
/*  padding: 20px;*/
/*  max-width: 1200px;*/
/*  margin: 0 auto;*/
/*}*/

/*.styleSelector {*/
/*  margin-bottom: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  gap: 10px;*/
/*  font-weight: 500;*/
/*}*/

/*.styleSelector select {*/
/*  padding: 5px 10px;*/
/*  font-size: 16px;*/
/*}*/

/*.formWrapper {*/
/*  display: flex;*/
/*  gap: 30px;*/
/*    width: 90%;*/
/*}*/

/*.form {*/
/*  flex: 1;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 15px;*/
/*}*/

/*.textareaWrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 15px;*/
/*}*/

/*.label {*/
/*  font-weight: 500;*/
/*  margin-bottom: 5px;*/
/*}*/

/*.inputCreate{*/
/*  padding: 8px 10px;*/
/*  border: 1px solid #ccc;*/
/*  font-size: 16px;*/
/*}*/

/*.textarea {*/
/*  border: 1px solid #ccc;*/
/*  font-size: 16px;*/
/*  min-height: 100px;*/
/*  resize: vertical;*/
/*}*/


/*.success {*/
/*  color: green;*/
/*  font-weight: 500;*/
/*}*/

/*.livePreview {*/
/*  flex: 1;*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 10px;*/
/*  padding: 15px;*/
/*  max-height: 700px;*/
/*  overflow-y: auto;*/
/*  background-color: #fafafa;*/
/*}*/

/*.photoWrapper {*/
/*  margin-top: 20px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 10px;*/
/*}*/

/*.photoLabel {*/
/*  font-weight: 500;*/
/*}*/


/*.photoImage {*/
/*  border-radius: 6px;*/
/*  object-fit: cover;*/
/*}*/


